@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

/* Estilo Cabaçalho Topo */
.lista-cursos {
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 128, 255);
    width: 100%;
    height: 40px;
    padding: 10px;
}

.lista-cursos .nav-topo {
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 60px;
    cursor: pointer;
}

.lista-cursos .nav-topo a {
    color: #fff;
    font-size: 20px;
    font-weight: 900;
}

.lista-cursos .nav-topo li:hover {
    transform: scale(1.05);
}

/* Estilo Cabeçalho */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(2, 25, 56);
}

header .logo img {
    margin: 0;
    width: 67%;
    height: 100%;
    padding: 10px;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    float: left;
    margin-top: 10px;
    gap: 20px;
}

.menu li {
    position: relative;
    float: left;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
}

.menu li a:hover {
    background: #fff;
    color: blue;
    text-shadow: 0px 0px 5px #fff;
}

.menu li ul {
    position: absolute;
    top: 35px;
    left: 0;
    background-color: rgba(0, 0, 255, 0.166);
    display: none;
}

.menu li:hover ul,
.menu li.over ul {
    display: block;
}

.menu li ul li {
    display: block;
    width: 100px;
    margin-top: 20px;
}

.btn-aluno button {
    display: flex;
    padding: 10px;
    border-radius: 20px;
    margin-top: 5px;
    font-size: 17px;
    font-weight: 400;
    background-color: blue;
    color: #fff;
}

nav .nav li a:hover {
    background-color: #fff;
    color: blue;
    border-radius: 10px;
}

header .logo img:hover,
nav .nav li:hover {
    transform: scale(1.05);
}

.btn-aluno button:hover {
    transform: scale(1.05);
    background-color: #fff;
    color: blue;
    cursor: pointer;
}

/* Estilo Topo da pagina */
section .principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.principal img {
    width: 100%;
}

.principal .conteudo-topo {
    position: absolute;
    top: 610px;
    margin-left: 50px;
    color: #fff;
}

.conteudo-topo h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    line-height: 80px;
    text-transform: uppercase;
}

.conteudo-topo .animacao {
    color: rgb(0, 128, 255);
}

.conteudo-topo p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.btn-agora button {
    margin-top: 30px;
    background-color: orange;
    font-weight: 700;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    font-size: 15px;
}

.btn-agora button:hover {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

/* Estilo informações de cursos */
.cursos-lista {
    margin-top: 90px;
}

.cursos-lista .txt-cursos {
    margin-left: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}

.cursos-lista .txt-cursos h2 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    width: 800px;
}

.cursos-lista .txt-cursos #destaque {
    color: rgb(0, 128, 255);
    font-size: 60px;
}

.cursos-lista .txt-cursos p {
    text-align: center;
    margin-right: 200px;
}

/* Estilo Lista de cursos */
.container-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 0px;
    gap: 30px;
    height: 600px;
}

.div-format {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.div-format img {
    width: 100%;
    height: 100%;
}

.txt-descricao {
    padding: 10px;
    background-color: blue;
    color: #fff;
    text-align: center;
    width: 364px;
}

.txt-descricao h3 {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.txt-descricao p {
    text-align: justify;
    margin: 10px;
}

.txt-descricao button {
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    background-color: orange;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.div-format:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px black;
}

.txt-descricao button:hover {
    background-color: white;
    color: orange;
}

/* Estilo de Especialidades */
.especialidades {
    background-color: rgb(0, 128, 255);
    color: #fff;
    height: 90%;
}

.txt-especialidades {
    display: flex;
    padding: 20px;
    justify-content: center;
    margin-top: 20px;
    gap: 320px;
}

.txt-especialidades h2 {
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 40px;
}

.txt-especialidades p {
    margin-top: 30px;
    width: 600px;
    text-align: justify;
    font-size: 16px;
}

.cards-especialiadades {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 0px;
    gap: 30px;
}

.card {
    background-color: #fff;
    width: 270px;
    height: 420px;
    color: blue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.icone i {
    font-size: 100px;
    margin-left: 90px;
}

.txt-info-card h3 {
    text-align: center;
    margin-bottom: 50px;
}

.txt-info-card p {
    text-align: center;
    font-size: 15px;
}

.card:hover {
    box-shadow: 0 0 7px blue;
    transform: scale(1.02);
}

/* Estilo sobre nós */
.sobre-nos {
    margin-top: 70px;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 60px;
}

.txt-sobre {
    width: 600px;
    margin-left: 500px;
    text-align: justify;
}

.txt-sobre h2 {
    line-height: 100px;
    font-size: 40px;
    text-transform: uppercase;
    color: blue;
}

.img-sobre img {
    width: 400px;
    margin-top: 40px;
}

.txt-sobre button {
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(0, 128, 255);
    color: #fff;
    font-weight: bolder;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    cursor: pointer;
}

.txt-sobre button:hover {
    transform: scale(1.05);
}

/*Contatos e Informações*/
.rodape-topo {
    background: linear-gradient(rgb(0, 128, 255), blue);
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.contatos {
    display: flex;
    flex-direction: flex;
    margin-top: 20px;
    padding: 10px;
    color: #fff;
    margin-bottom: 20px;
}

.contatos h2 {
    font-size: 40px;
    text-align: center;
    margin-left: 100px;
}

.form{
    margin-left: 300px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

.input-container {
    display: flex;
    width: 200%;
    margin-bottom: 15px;
    text-align: center;
}

.input-container input{
    width: 500px;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

form textarea{
    width: 50%;
}

.btn-enviar input{
    padding: 10px;
    margin-left: 200px;
    width: 200px;
    border-radius: 20px;
    background-color: dodgerblue;
    color: #fff;
    font-weight: bolder;
    font-size: 17px;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

.redes-sociais{
    margin-top: 10px;
    color: #fff;
    border-left: 2px solid#fff;
    padding: 20px;
    margin-left: 200px;
}

.redes-sociais h2{
    font-size: 40px;
}

.enderecos{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.enderecos p{
    font-size: 20px;
}

footer{
    background-color: dodgerblue;
    color: #fff;
}

.rodape{
    display: flex;
    gap: 40px;
    padding: 10px;
    margin-left: 300px;
}